{% extends 'base.html.twig' %}
{% block title %}{% endblock %}
{% block body %}
    <table>
        <caption>Фразы</caption>
        <tr>
            <th>Наименование (рус/англ)</th>

        </tr>
        {% for sentence in sentences %}
            <tr>
                <td>
                    {{ sentence.translate('ru').description }} / {{ sentence.translate('en').description }}
                </td>
            </tr>
        {% endfor %}
    </table>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}

{% endblock %}